# Structural libraries
pip==24.0
pylint==3.0.0
pytest==8.1.2
pytest-cov==4.1.0
black==23.9.1
pydantic==2.7.1
pydantic-core==2.18.2

# Data libraries
selenium==4.20.0
webdriver-manager==4.0.1
pandas==2.2.2
